.title {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    color: #433840;
  }

  p {
    font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    color: #F7A1A8;

  }
}